
h1 {
    font-family: 'Clicker Script', cursive;
    font-size: 60px;
    padding-bottom: 30px;
    text-align: center;
}

p {
    
}


/* --------- MAP ----- */

html,
body,
#map_canvas {
    height: 900px;
    width: 100%;
    margin: 0px;
}

.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.tableTop {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.suppliers {
    height: 300px;
    overflow: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.table th { 
     border-top: none !important;
    font-size: 16px;

 }

.table td { 
     font-size: 16px;

 }
